.TableHead {
	background-color: #00fcfc;
}

.UnselectedRow {
	background-color: #cccccc;
	cursor:pointer;
}

.UnselectedRow:hover {
	background-color: #00ff66;
	cursor:pointer;
}

.SelectedRow {
	background-color: #ffff00;
	cursor:pointer;
}

.SelectedRow:hover {
	background-color: #ff00ff;
	cursor:pointer;
}
